._local {
	margin-left: 240px;
	width: calc(100vw - 240px);
	transition: margin-left ease 0.25s, width ease 0.25s;

	&.no_menu {
		margin-left: 80px;
		width: calc(100vw - 80px);
	}

	&.iframe {
		padding-bottom: 0;
	}
}
